%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    .username-info.my-3
      = "Hello #{current_user.username}!"

    .rooms-action.my-3
      = link_to new_room_path, class: 'btn btn-primary' do
        Create a room

    - if @rooms.present?
      %ul.nav.flex-column
        - @rooms.each do |room|
          = link_to room_path(room) do
            %li.nav-item.text-nowrap= room.name
    - else
      .text-muted
        The are no rooms