= form_for @room do |f|
  .row
    .form-group.col-6
      = f.label :name, class: 'form-label'

      .input-group
        = f.text_field :name, class: ['form-control', ('is-invalid' if @room.errors.messages[:name].present?)]

        .invalid-feedback
          = @room.errors.full_messages_for(:name).first

  .row
    - if @room.new_record?
      .form-group.form-check.col-6
        = f.check_box :public
        = f.label :public, 'Public room', class: 'form-check-label'
    - else
      .col-6
        #label.form-label= "Access: #{@room.public? ? 'Public' : 'Private'}"

  .row
    .form-group.col-6
      #users-select__component{ style: "display: #{!@room.public? ? 'block' : 'none'}", 'data-behavior': 'react' }
      
  .row
    .form-group.col-12
      = f.submit class: 'btn btn-primary'

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var options = #{ raw @users_data }
    var values = #{ raw @selected_users.to_json }

    window.initializeUsersSelect({ options, values })
  });