= form_for @room do |f|
  .row
    .form-group.col-6
      = f.label :name, class: 'col-sm-2 col-form-label'

      .input-group
        = f.text_field :name, class: ['form-control', ('is-invalid' if @room.errors.messages[:name].present?)]

        .invalid-feedback
          = @room.errors.full_messages_for(:name).first

  .row
    .form-group.form-check.col-6
      = f.check_box :public
      = f.label :public, 'Public room', class: 'form-check-label'
      
  .row
    .form-group.col-12
      = f.submit class: 'btn btn-primary'