= form_for @room do |f|
  - unless @room.direct?
    .row
      .form-group.col-6
        = f.label :name, class: 'form-label'

        .input-group
          = f.text_field :name, class: ['form-control', ('is-invalid' if @room.errors.messages[:name].present?)]

          .invalid-feedback
            = @room.errors.full_messages_for(:name).first

    .row
      .form-group.col-6
        = f.label :description, class: 'form-label'

        .input-group
          = f.text_area :description, class: 'form-control'

  .row
    .form-group.col-6
      = f.hidden_field :type

  .row
    .form-group.col-6
      #users-select__component{ 'data-behavior': 'react' }

  .row
    .form-group.col-12
      = f.submit class: 'btn btn-primary'

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var type = #{ raw @room.type.to_json }
    var options = #{ raw @users_data }
    var values = #{ raw @selected_users.to_json }

    if (type !== 'open') window.initializeUsersSelect({ options, values })
  });