= form_for @room do |f|
  .row
    .form-group.col-6
      = f.label :name, class: 'form-label'

      .input-group
        = f.text_field :name, class: ['form-control', ('is-invalid' if @room.errors.messages[:name].present?)]

        .invalid-feedback
          = @room.errors.full_messages_for(:name).first

  .row
    .form-group.col-6
      = f.label :description, class: 'form-label'

      .input-group
        = f.text_area :description, class: 'form-control'

  .row
    - if @room.new_record?
      .form-group.col-6
        = f.label :type, 'Type', class: 'form-check-label'
        .input-group
          = f.select :type, { Open: :open, Closed: :closed }
    - else
      .col-6
        #label.form-label= "Access: #{@room.type.capitalize}"

  .row
    .form-group.col-6
      #users-select__component{ style: "display: #{@room.open? ? 'none' : 'block'}", 'data-behavior': 'react' }

  .row
    .form-group.col-12
      = f.submit class: 'btn btn-primary'

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var options = #{ raw @users_data }
    var values = #{ raw @selected_users.to_json }

    window.initializeUsersSelect({ options, values })
  });