.room
  .room__header
    - if @room.direct?
      .room__title
        %h2= @room.direct_room_name_for_user(current_user)
    - else
      .room__title
        %h2= @room.name

    .room__actions
      - if @room.user_id == current_user.id
        %ul
          %li.action__item
            = link_to 'Edit room', edit_room_path(@room), class: 'btn btn-sm btn-outline-primary'
          %li.action__item
            = link_to 'Close room', room_path(@room), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' }

  #chat__component{ 'data-behavior': 'react' }

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var data = #{ raw @chat_data }

    window.initializeChat(data)
  });
