!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Realtime chat
    = action_cable_meta_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag    'application'
  %body
    = render partial: 'shared/navbar'
    
    .container-fluid
      .row
        = render partial: 'shared/sidebar'

        %main.col-md-9.ml-sm-auto.col-lg-10.p-3
          = yield
    