!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Realtime chat
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .container
      = link_to 'Logout', destroy_user_session_path, class: 'btn btn-outline-danger', method: :delete
      .row
        .col-12
          = yield
